In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("train_ver2.csv")
rename_map = {
    "fecha_dato": "date",
    "ncodpers": "customer_code",
    "ind_empleado": "employee_index",
    "pais_residencia": "country_residence",
    "sexo": "gender",
    "age": "age",
    "fecha_alta": "first_holder_date",
    "ind_nuevo": "new_customer_index",
    "antiguedad": "seniority",
    "indrel": "internal",
    "ult_fec_cli_1t": "last_date_as_primary_customer",
    "indrel_1mes": "customer_type_at_beginning_of_month",
    "tiprel_1mes": "customer_relationship_at_beginning_of_month",
    "indresi": "residence_index",
    "indext": "foreigner_index",
    "conyuemp": "spouse_index",
    "canal_entrada": "channel_used",
    "indfall": "deceased_index",
    "tipodom": "address_type",
    "cod_prov": "province_code",
    "nomprov": "province_name",
    "ind_actividad_cliente": "activity_index",
    "renta": "income",
    "segmento": "segmentation",
    "ind_ahor_fin_ult1": "saving_account",
    "ind_aval_fin_ult1": "guarantees",
    "ind_cco_fin_ult1": "current_account",
    "ind_cder_fin_ult1": "derivada_account",
    "ind_cno_fin_ult1": "payroll_account",
    "ind_ctju_fin_ult1": "junior_account",
    "ind_ctma_fin_ult1": "mas_particular_account",
    "ind_ctop_fin_ult1": "particular_account",
    "ind_ctpp_fin_ult1": "particular_plu_account",
    "ind_deco_fin_ult1": "short_term_deposits",
    "ind_deme_fin_ult1": "medium_term_deposits",
    "ind_ecue_fin_ult1": "e_account",
    "ind_fond_fin_ult1": "funds",
    "ind_hip_fin_ult1": "mortgage",
    "ind_plan_fin_ult1": "pension_plan",
    "ind_pres_fin_ult1": "loans",
    "ind_reca_fin_ult1": "taxes",
    "ind_tjcr_fin_ult1": "credit_card",
    "ind_valo_fin_ult1": "securities",
    "ind_viv_fin_ult1": "home_account",
    "ind_nomina_ult1": "payroll",
    "ind_nom_pens_ult1": "pension_payroll",
    "ind_recibo_ult1": "direct_debit",
}
df.rename(columns=rename_map, inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_31792\2020053471.py:1: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train_ver2.csv")

In [3]:
df.head()

,date,customer_code,employee_index,country_residence,gender,age,first_holder_date,new_customer_index,seniority,internal,...,mortgage,pension_plan,loans,taxes,credit_card,securities,home_account,payroll,pension_payroll,direct_debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:
df.shape

(13647309, 48)

In [7]:
df["customer_code"].nunique()

956645

In [8]:
df["date"].min()

'2015-01-28'

In [9]:
df["date"].max()

'2016-05-28'

In [10]:
df["date"].describe()

count       13647309
unique            17
top       2016-05-28
freq          931453
Name: date, dtype: object

In [11]:
df["date"].nunique()

17

In [12]:
df_groupby = df.groupby("date").size().reset_index(name="number_of_customer")

In [13]:
df_groupby

          date  number_of_customer
0   2015-01-28              625457
1   2015-02-28              627394
2   2015-03-28              629209
3   2015-04-28              630367
4   2015-05-28              631957
5   2015-06-28              632110
6   2015-07-28              829817
7   2015-08-28              843201
8   2015-09-28              865440
9   2015-10-28              892251
10  2015-11-28              906109
11  2015-12-28              912021
12  2016-01-28              916269
13  2016-02-28              920904
14  2016-03-28              925076
15  2016-04-28              928274
16  2016-05-28              931453

In [14]:
NUMBER_OF_CUSTOMERS = 100000
RANDOM_STATE = 42
customer_ids = df["customer_code"].sample(NUMBER_OF_CUSTOMERS, random_state=RANDOM_STATE).to_list()

In [15]:
customer_ids

[886976,
 950206,
 474137,
 1236387,
 1359789,
 1203606,
 799216,
 1196148,
 535774,
 275077,
 1218457,
 1211241,
 200771,
 515946,
 711868,
 996330,
 507037,
 318895,
 266574,
 952215,
 1159256,
 341277,
 1281089,
 356271,
 1370813,
 1060678,
 185654,
 994470,
 1046362,
 1017128,
 31695,
 811203,
 430193,
 689998,
 1446104,
 460011,
 228131,
 834320,
 459162,
 1174641,
 1139534,
 1326440,
 1041176,
 629382,
 557570,
 1084110,
 624606,
 850876,
 740665,
 95283,
 222866,
 1170591,
 764034,
 315169,
 1292474,
 1165648,
 1087456,
 410457,
 504052,
 272569,
 1356483,
 1358130,
 1289268,
 1050474,
 1155032,
 65695,
 668859,
 976168,
 818599,
 1095075,
 53819,
 1299556,
 572559,
 974190,
 1417035,
 975141,
 1464975,
 1323768,
 570052,
 707649,
 361785,
 1446286,
 236771,
 1019103,
 84017,
 861731,
 986458,
 1210597,
 218092,
 934342,
 662449,
 1223995,
 1543820,
 814974,
 292921,
 140759,
 776342,
 1248137,
 1279905,
 703237,
 846954,
 310319,
 996914,
 1073775,
 722378,
 937575,
 1501971,
 56842,
 573788,
 1245336,
 128998,
 945179,
 342412,
 420529,
 1233925,
 911246,
 873100,
 374519,
 480701,
 1455944,
 1298165,
 1518572,
 432532,
 392253,
 1253304,
 1175015,
 200500,
 1225838,
 1199459,
 1308949,
 252103,
 445097,
 86694,
 939485,
 329896,
 1353017,
 1206625,
 1411499,
 48135,
 299720,
 1290358,
 72454,
 1153019,
 320030,
 89946,
 87896,
 925714,
 1103045,
 882572,
 640012,
 615836,
 310144,
 312694,
 1357518,
 1435898,
 129523,
 987015,
 235135,
 1416539,
 372713,
 636489,
 1390078,
 287296,
 426027,
 1295127,
 493235,
 1276419,
 101267,
 32289,
 759284,
 281161,
 851266,
 417796,
 1204152,
 988449,
 44893,
 928819,
 1048463,
 619006,
 1049524,
 1297581,
 971740,
 923856,
 1311593,
 1273990,
 703007,
 189893,
 482007,
 1290934,
 386695,
 1371340,
 962813,
 1445807,
 580372,
 1195660,
 439154,
 542339,
 1043328,
 1202158,
 1307135,
 1404557,
 1030888,
 1349946,
 821382,
 400371,
 1327805,
 1293132,
 415610,
 1073079,
 1368686,
 1040598,
 827930,
 1064489,
 1071875,
 546403,
 99610,
 142267,
 1228965,
 88815,
 1109690,
 973738,
 433296,
 1525365,
 1146289,
 39582,
 1230764,
 1311837,
 838073,
 681951,
 1141856,
 957692,
 183888,
 688531,
 376777,
 288290,
 975729,
 1092749,
 1200742,
 1319237,
 526438,
 861574,
 1432951,
 1267206,
 1039225,
 283152,
 834446,
 481950,
 185228,
 1156407,
 1356560,
 1494324,
 1427211,
 337720,
 169927,
 283612,
 1411903,
 275031,
 822536,
 937747,
 1534347,
 55992,
 368569,
 1025905,
 353779,
 1204056,
 1383920,
 1321842,
 728707,
 959998,
 477277,
 521343,
 1204641,
 45835,
 51162,
 989332,
 806764,
 926640,
 1089547,
 1198690,
 164942,
 1103942,
 809887,
 661302,
 689227,
 570295,
 1423719,
 1057799,
 45196,
 1149083,
 506199,
 1355039,
 975563,
 207843,
 178158,
 1397065,
 1217588,
 1457548,
 798846,
 1407876,
 1199060,
 288848,
 226298,
 1358761,
 1415303,
 507853,
 1250825,
 1224866,
 1179046,
 987703,
 414711,
 408094,
 487778,
 1207003,
 23341,
 1316859,
 1179514,
 1207851,
 150629,
 1349840,
 1424431,
 924882,
 603493,
 18030,
 1125888,
 963291,
 1312317,
 72185,
 298755,
 45211,
 1006051,
 571033,
 1039115,
 435044,
 162027,
 1166840,
 1164606,
 1370180,
 1404105,
 1360440,
 53550,
 1143078,
 1288799,
 1193173,
 1029263,
 1301508,
 649418,
 522476,
 361432,
 363504,
 61021,
 1007023,
 204925,
 879810,
 526963,
 1202282,
 969446,
 545012,
 719498,
 867639,
 570251,
 948224,
 991492,
 1399653,
 749342,
 1227628,
 1537907,
 1355337,
 822034,
 699189,
 1494005,
 93469,
 1269029,
 1270324,
 1486039,
 382457,
 1295758,
 103390,
 809664,
 538409,
 1206911,
 560046,
 1230806,
 1195230,
 953662,
 1365277,
 1039431,
 792439,
 793080,
 463411,
 1113792,
 985084,
 1262803,
 443295,
 792038,
 376266,
 105889,
 1167010,
 1332028,
 1012681,
 486957,
 1206621,
 930352,
 489633,
 1518498,
 1337109,
 1008887,
 579324,
 1267483,
 1330734,
 1369660,
 978419,
 1037740,
 263910,
 969025,
 134247,
 1068916,
 1375522,
 1205676,
 1445935,
 649329,
 605294,
 264138,
 1098224,
 211883,
 1424687,
 1199101,
 1239780,
 160986,
 958483,
 1187520,
 346009,
 938345,
 671077,
 1186986,
 841455,
 1336677,
 408470,
 749016,
 1117275,
 288534,
 694521,
 1272395,
 847607,
 328855,
 862191,
 90279,
 1282306,
 1086787,
 1104227,
 290611,
 431176,
 769039,
 1346391,
 885787,
 135932,
 1353853,
 776372,
 1168116,
 1075310,
 688368,
 898576,
 1183174,
 192302,
 398228,
 72584,
 762391,
 1487353,
 146533,
 715949,
 1186269,
 386284,
 1462765,
 373360,
 107773,
 769288,
 1138126,
 1218464,
 892080,
 1377326,
 1281990,
 1168789,
 1344617,
 1443345,
 962241,
 1204081,
 383678,
 472160,
 184301,
 1246020,
 1112328,
 1427354,
 623159,
 472726,
 1207461,
 967024,
 942467,
 91995,
 1344986,
 1046786,
 513743,
 862422,
 1013985,
 1492376,
 841683,
 177643,
 1518604,
 952028,
 956277,
 666730,
 1340370,
 898920,
 526986,
 905366,
 1413763,
 515821,
 396978,
 1110031,
 1514391,
 998055,
 948022,
 1356786,
 344816,
 652128,
 336460,
 1101246,
 580585,
 377985,
 1323179,
 1297376,
 702159,
 1408452,
 85727,
 1303371,
 1191548,
 142046,
 1261760,
 651137,
 693027,
 577569,
 541678,
 327348,
 1172078,
 1541470,
 1283470,
 241817,
 398630,
 884264,
 1108960,
 148378,
 1407120,
 692014,
 679735,
 1161175,
 986163,
 1298682,
 169380,
 936651,
 952081,
 556241,
 1361773,
 240712,
 991753,
 789256,
 884286,
 1228224,
 492535,
 260855,
 942821,
 391030,
 1278386,
 760558,
 1483912,
 1267776,
 429088,
 344743,
 1212876,
 1097779,
 1037366,
 1147430,
 1328297,
 1324698,
 807467,
 1415459,
 1204469,
 410800,
 1359542,
 829115,
 672625,
 320596,
 1241757,
 136222,
 1481436,
 994793,
 59061,
 1217306,
 715636,
 947768,
 1293308,
 891163,
 1181883,
 894337,
 535505,
 276978,
 526537,
 742510,
 1320249,
 984314,
 1210835,
 921539,
 109633,
 967048,
 587317,
 1150185,
 299091,
 247367,
 1003367,
 1441909,
 1140767,
 1079801,
 292115,
 99089,
 31187,
 1221553,
 1106410,
 1215275,
 466570,
 1532162,
 1240219,
 950220,
 1027861,
 945669,
 488803,
 1493073,
 1123911,
 162664,
 363605,
 1329063,
 1083414,
 732336,
 1086903,
 84657,
 1310214,
 52992,
 1178094,
 686633,
 117881,
 1465864,
 487265,
 1328080,
 1038208,
 1399932,
 734880,
 926954,
 981871,
 1178782,
 704952,
 854033,
 358272,
 1085627,
 1323034,
 1329990,
 943361,
 290947,
 662276,
 509761,
 631088,
 429092,
 443636,
 640870,
 1104468,
 1003077,
 554076,
 1255223,
 836258,
 1047498,
 324575,
 1262767,
 585372,
 1434554,
 1109222,
 504958,
 999358,
 1521590,
 124604,
 696691,
 287054,
 904218,
 1333747,
 945497,
 720570,
 1152461,
 1502006,
 1160312,
 1172398,
 750118,
 946550,
 1166358,
 714581,
 1362318,
 950578,
 1321452,
 1436848,
 139861,
 1355803,
 102931,
 330223,
 726177,
 298450,
 650978,
 1528861,
 646840,
 98859,
 237656,
 92773,
 360826,
 1095445,
 1384085,
 1042799,
 153360,
 984662,
 347369,
 211560,
 1314674,
 219393,
 545756,
 574889,
 147451,
 1484638,
 1427225,
 1507542,
 273308,
 740473,
 1112142,
 1378355,
 767339,
 1316127,
 1031763,
 429340,
 1286671,
 996303,
 981073,
 1062585,
 335560,
 372560,
 1523206,
 1518778,
 1428514,
 1521556,
 708347,
 190850,
 1267007,
 250290,
 21597,
 1219940,
 106380,
 406025,
 377875,
 1285345,
 300045,
 1405637,
 335416,
 870525,
 268375,
 15995,
 286486,
 201174,
 1042392,
 179223,
 1159062,
 130526,
 853770,
 1428599,
 1372347,
 969831,
 1133884,
 665729,
 1033310,
 823225,
 533072,
 372422,
 1008620,
 236369,
 277017,
 649899,
 893976,
 1234273,
 979827,
 459495,
 84830,
 347534,
 1285275,
 1270676,
 703171,
 681780,
 485500,
 194428,
 409514,
 1319726,
 1435454,
 930508,
 814911,
 261671,
 822908,
 1302981,
 56226,
 398323,
 1296998,
 638525,
 49140,
 1133910,
 1154120,
 272206,
 1421466,
 438983,
 1067744,
 101801,
 921991,
 1080453,
 701778,
 1361330,
 1134460,
 1337611,
 1031561,
 252893,
 150587,
 221234,
 1532278,
 965379,
 735146,
 193284,
 1039835,
 160540,
 746291,
 506436,
 1530527,
 983501,
 1266732,
 965543,
 577036,
 135983,
 955765,
 973082,
 1205227,
 1231009,
 63147,
 1428626,
 597612,
 514703,
 885300,
 307799,
 541350,
 489463,
 1106159,
 506278,
 1479248,
 395586,
 652073,
 56614,
 736850,
 1489990,
 414449,
 1278041,
 1189223,
 1315588,
 821356,
 601029,
 1097692,
 634112,
 316004,
 920074,
 1316551,
 1252817,
 588892,
 371916,
 1164068,
 529196,
 395415,
 1182891,
 987364,
 1146989,
 331604,
 320170,
 279833,
 563240,
 1203477,
 217576,
 779698,
 451484,
 824740,
 1143810,
 616673,
 193581,
 1116430,
 551097,
 1410140,
 633912,
 1252467,
 1114041,
 1408921,
 988620,
 920578,
 1212608,
 983325,
 645150,
 895536,
 115567,
 850885,
 338451,
 945214,
 812773,
 923814,
 538841,
 1396428,
 766000,
 732671,
 1316756,
 1045837,
 1413858,
 828679,
 673161,
 1381475,
 1191594,
 133586,
 419456,
 1466538,
 1434888,
 1313832,
 1414663,
 1069480,
 163120,
 830880,
 496908,
 718336,
 1317656,
 616211,
 1023223,
 327224,
 1068648,
 1185376,
 583367,
 549614,
 55550,
 1282221,
 1039563,
 1477644,
 190519,
 900529,
 1431508,
 347321,
 1245011,
 1337457,
 809155,
 1197078,
 300411,
 337169,
 1107730,
 103375,
 970724,
 438357,
 206668,
 489576,
 1523708,
 977401,
 1259671,
 614246,
 1373904,
 39012,
 624964,
 1355284,
 1408288,
 502532,
 1015010,
 630558,
 1316561,
 536119,
 488056,
 249464,
 1233775,
 545182,
 1279492,
 1137469,
 1190445,
 449509,
 1081569,
 930855,
 1312813,
 84508,
 1145210,
 1184203,
 181305,
 1226709,
 1033621,
 1192000,
 1223755,
 1296320,
 139997,
 753579,
 87455,
 270844,
 1018485,
 ...]

In [16]:
output_df = df[df["customer_code"].isin(customer_ids)].reset_index(drop=True)

In [17]:
output_df

,date,customer_code,employee_index,country_residence,gender,age,first_holder_date,new_customer_index,seniority,internal,...,mortgage,pension_plan,loans,taxes,credit_card,securities,home_account,payroll,pension_payroll,direct_debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050617,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050619,N,ES,H,24,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050589,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457656,2016-05-28,1166747,N,ES,H,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1457657,2016-05-28,1166736,N,ES,H,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1457658,2016-05-28,1166784,N,ES,H,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1457659,2016-05-28,1166782,N,ES,V,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1457660,2016-05-28,1166779,N,ES,V,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [21]:
output_df.to_csv("train_adjusted.csv", index=False)

In [22]:
output_df.shape

(1457661, 48)

In [23]:
output_df.head(20)

,date,customer_code,employee_index,country_residence,gender,age,first_holder_date,new_customer_index,seniority,internal,...,mortgage,pension_plan,loans,taxes,credit_card,securities,home_account,payroll,pension_payroll,direct_debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050617,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050619,N,ES,H,24,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050589,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050662,N,ES,V,37,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
6,2015-01-28,1050632,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
7,2015-01-28,1050635,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
8,2015-01-28,1050642,N,ES,V,58,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
9,2015-01-28,1050647,N,ES,H,38,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
10,2015-01-28,1050515,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
11,2015-01-28,1050521,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12,2015-01-28,1050487,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13,2015-01-28,1050497,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
14,2015-01-28,1050562,N,ES,V,25,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
15,2015-01-28,1050552,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
16,2015-01-28,1050541,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
17,2015-01-28,1050884,N,ES,V,29,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
18,2015-01-28,1050841,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
19,2015-01-28,1050859,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0